.prism-section {
    .card {
        width: 100%;
        border-radius: 0px;
    }
}

.prs-accordion {
    margin: 0 auto;
    min-width: 180px;
    max-width: 320px;
    .form-check-label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-group {
        margin-bottom: 0
    }
}

.accordion-item-heading {
    color: $prs-charcoal
}

.prism-accordion-item {
    line-height: 1.7rem;
    font-size: 1.4rem;
    width: 100%;
    button {
        padding: 2px 8px 1px 8px !important;
        font-size: 1.4rem !important;
        border-top: none !important;
        background-color: #ffffff;
        &:focus {
            box-shadow: none
        }
    }
    align-self: center;
}

.filterName {
    padding-left: 8px;
}

.form-check-label {
    display: flex;
    span {
        margin-left: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        align-self: center;
        vertical-align: middle
    }
}

.chevron-down {
    height: 16px;
    width: 16px;
}

.collapse,
.collapsing {
    padding: .8rem 1.6rem;
    background-color: $prs-ash;
    .card {
        border: none
    }
}

.filterName {
    margin-left: 0px;
    color: $prs-black;
}