/*------------------------------------*\
    #BADGE
\*------------------------------------*/

/**
 * A badge is a small 
 */

.prism-badge {
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    margin-left: 4px;
    padding: 4px;
    vertical-align: middle;
}

.prism-badge--new {
    width: 32px;
    height: 16px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: $prs-white;
}

.prism-badge--beta {
    width: 32px;
    height: 16px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: $prs-navy-dark;
}

.prism-badge--negative {
    background-color: #d82424;
}

.prism-badge--positive {
    background-color: #00af53;
}

.prism-badge--caution {
    background-color: #225896;
}