/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

/**
 * 1) Button or link that has functionality to it
 */

.prism-btn {
    display: inline-block;
    background: $prs-primary;
    border-radius: $border-radius;
    cursor: pointer;
    color: $color-white;
    line-height: 1;
    font-weight: bold;
    padding: 1rem 2rem;
    border: 0;
    box-shadow: none;
    /* 2 */
    text-align: center;
    transition: all $anim-fade-quick $anim-ease;
    &:hover,
    &:focus {
        background: $prs-primary-dark;
        color: $color-white;
    }
    &.close,
    &.open {
        &:focus,
        &:hover {
            background: none;
            border: none;
            box-shadow: none;
            outline: none
        }
    }
}

/**
 * Small button
 */

.prism-btn--small {
    padding: .375rem .75rem;
}

.prism-btn__text {
    display: block;
}

.prism-btn__icon {
    position: relative;
    bottom: 2px;
    display: block;
    height: 24px;
    width: 24px;
    margin-right: 0.5rem;
}

.accordion-button {
    text-align: 'left';
    padding: '1rem';
    border: '1px solid rgba(0,0,0,.125)';
    border-radius: '0';
    border-left: '0';
    border-right: '0';
    background-color: white
}