/*------------------------------------*\
    #BUTTON GROUP
\*------------------------------------*/

/**
 * 1) A grouping of buttons, often displayed side-by-side
 */

.prism-btn-group {
    display: flex;
    flex-wrap: wrap;
    .prism-card &,
    .prism-hero & {
        justify-content: center;
    }
}