/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

/**
 * 1) Global block at the bottom of each page that contains a navigation and other information
 */

.prism-footer {
    text-align: center;
    display: flex;
    flex-shrink: 0;
    border-top: 1px solid $color-gray-07;
    padding: 1rem 0;
    margin-top: 1rem;
}