/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Global block at the top of each page containing the navigation, logo, and other potential utility nav
 */

.prism-header {
    position: relative;
    background-color: white;
    color: $color-white;
    margin-bottom: 2rem;
    z-index: 2;
    width: 100%;
}

.prism-header--vertical {
    margin-bottom: 0;
    background-color: white;
    border-right: 1px solid #f7f7f7;
}

/**
 * Header inner wrapper
 * 1) Align header items in horizontal configuration
 * 2) Vertically-align logo, primary nav items, and other stuff.
 */

.prism-header__inner {
    display: flex;
    padding: 1rem 0;
    height: 8rem;
    border-bottom: 1px solid $prs-ash;
    .prism-header--vertical & {
        @media all and (min-width: $bp-large) {
            margin-bottom: 0;
            background-color: white;
            display: block;
            min-height: 100%;
            .prism-logo-hide {
                display: flex
            }
        }
    }
    .prism-logo-show {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .prism-header__nav-container.is-active & {
        background-color: white
    }
}

.prism-header__nav-btn.prism-header__nav-btn {
    span {
        font-size: 1.6rem
    }
    &.open {
        position: absolute;
        left: .8rem;
        top: 2.4rem;
        color: $prs-primary;
        background: none;
        @media all and (min-width: $bp-large) {
            display: none;
        }
    }
    &.close {
        display: none;
        &:focus,
        &:hover {
            background: none;
            outline: none;
        }
        @media all and (min-width: $bp-large) {
            display: none;
        }
    }
    &.prism-close {
        position: fixed;
        margin-left: 240px;
        top: 24px;
        z-index: 1040;
        background-color: transparent;
        color: $prs-primary;
        @media all and (min-width: $bp-large) {
            display: none
        }
    }
    &.hide-me {
        display: none;
        @media all and (min-width: $bp-large) {
            display: none;
        }
    }
}

.prism-logo {
    &-hide {
        display: none;
        @media all and (min-width: $bp-large) {
            display: flex;
            align-items: center;
        }
    }
    &-show {
        display: flex;
        align-items: center;
    }
}

/**
 * Header navigation conntainer
 * 1) Contains the primary navigation and other possible patterns
 */

.prism-header__nav-container {
    height: 100vh;
    display: none;
    width: 25.3rem;
    margin-right: .4rem;
    @media all and (min-width: $bp-large) {
        display: block;
        position: fixed;
        overflow: scroll;
        z-index: 7;
        margin-left: auto;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    /**
	 * Header navigation conntainer within vertical header
	 */
    .prism-header--vertical & {
        @media all and (min-width: $bp-large) {
            margin-left: 0;
        }
    }
}

/**
 * Active header nav container
 */

.prism-header__nav-container.is-active {
    display: block;
    position: fixed;
    overflow: scroll;
    background-color: white;
    left: 0;
    padding: 0;
    width: 23.6rem;
    height: 100vh;
    z-index: 5;
    -webkit-box-shadow: 150px 0px 5px 150px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 150px 0px 5px 150px rgba(0, 0, 0, 0.23);
    box-shadow: 150px 0px 5px 150px rgba(0, 0, 0, 0.23);
    @media all and (min-width: $bp-small) {
        -webkit-box-shadow: 255px 0px 5px 250px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 255px 0px 5px 250px rgba(0, 0, 0, 0.23);
        box-shadow: 255px 0px 5px 250px rgba(0, 0, 0, 0.23);
    }
    @media all and (min-width: $bp-med) {
        -webkit-box-shadow: 350px 0px 5px 350px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 350px 0px 5px 350px rgba(0, 0, 0, 0.23);
        box-shadow: 350px 0px 5px 350px rgba(0, 0, 0, 0.23);
    }
    /**
	 * Active header nav container within vertical header
	 */
    .prism-header--vertical & {
        @media all and (min-width: $bp-large) {
            margin-left: 0;
            width: 100%;
        }
    }
}