/*------------------------------------*\
    #ICON
\*------------------------------------*/

/**
 * 1) Small image that represents functionality
 */

.prism-icon {
    height: 14px;
    width: 14px;
    &-md {
        height: 1.6rem;
        width: 1.6rem;
    }
}

[class^="prs-icon-"],
[class*="prs-icon-"] {
    &.prism-icon__demo {
        font-size: 2.4rem
    }
}