/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * Branding image or text of the site
 */

.prism-logo {
    @media all and (min-width: $bp-large) {
        margin: 0;
    }
    /**
	 * Logo within vertical header
	 */
    .prism-header--vertical & {
        margin-left: 1rem;
        @media all and (min-width: $bp-large) {
            margin: 1rem;
        }
    }
}

/**
 * Logo link
 */

.prism-logo__link {
    display: block;
}

/**
 * Logo img
 */

.prism-logo__img {
    margin-left: 120%;
    width: 62px;
    height: auto;
    /**
	 * Logo within vertical header
	 */
    .prism-header--vertical & {
        @media all and (min-width: $bp-large) {
            max-width: 15.75rem;
        }
    }
}