.markdown {
    h1 {
        font-family: $font-condensed;
        color: $prs-black;
        font-style: normal;
        font-weight: lighter;
        font-size: $font-size-h1;
        margin-bottom: 4rem;
        &:nth-child(2) {
            margin-bottom: 4rem
        }
    }
    h4 {
        line-height: 2.8rem
    }
    &-h4 {
        color: $prs-primary;
        margin-bottom: 4rem;
    }
    p.markdown-text {
        color: $prs-charcoal;
        margin-bottom: 4rem;
    }
    .image-wrap {
        max-width: 38.2rem;
        @media all and (min-width: $bp-med) {
            max-width: 65rem;
        }
    }
    span.markdown-caption {
        color: $prs-smoke;
        font-size: 14px;
        line-height: 1.2rem;
    }
    table {
        width: 384px;
        font-size: 1.4rem;
        code {
            font-size: 1.2rem;
        }
        th {
            font-size: 1.4rem;
            font-weight: $font-weight-bold;
            padding-bottom: .8rem;
            padding-left: 0;
            padding-right: .8rem;
        }
        thead {
            border-bottom: 2px solid $prs-primary;
        }
        td {
            width: 15%;
            padding: 1.6rem .8rem 1.6rem 0;
            &:first-child {
                width: 5%;
                padding-right: 1.6rem;
            }
        }
        tr {
            border-bottom: 1px solid $prs-primary;
        }
        hr {
            border: none !important;
        }
        @media all and (min-width: $bp-med) {
            width: 100%;
            code {
                font-size: 1.4rem;
                margin-right: 1.6rem;
            }
            td {
                width: 20%;
                padding: 1.6rem .8rem 1.6rem 0;
                &:first-child {
                    width: 20%;
                }
            }
        }
    }
}

.l-container {
    &.markdown {
        padding-top: 3rem;
    }
}

.md-table {
    font-size: 14px;
    margin-bottom: 4rem;
    .table-heading {
        margin-bottom: 0;
    }
    thead {
        border-bottom: 2px solid $prs-primary;
    }
    th {
        font-weight: bold
    }
    th,
    td {
        padding: 1rem 0rem;
    }
}

.component-demo__box {
    display: flex;
    justify-content: center;
    &:first-child {
        width: 100%
    }
    .card-body {
        width: 100%
    }
    [class^="demo-buttons_"],
    [class*="demo-buttons_"] {
        width: 30rem;
        .btn {
            margin-right: auto;
            margin-bottom: 8px;
        }
    }
}

.component-demo-body {
    margin: 0 auto;
}

.component-demo__code {
    margin-top: 0;
    padding-top: 0;
    background-color: $prs-white;
    [class*="language-"] {
        margin-top: 0
    }
}

.demo {
    .card {
        &:first-of-type {
            background-color: $prs-ash;
            max-width: 38.2rem;
            margin: 0 auto;
            @media all and (min-width: $bp-med) {
                max-width: 73.6rem;
            }
        }
        .nav-tabs {
            background-color: white;
        }
        &.input-demo__card {
            padding: 8px;
            background-color: $prs-white;
        }
    }
    .card-header {
        &:first-of-type {
            padding: 1.6rem 1.6rem;
        }
    }
}

.demo-card-body {
    code {
        min-height: 25rem;
        width: 100%
    }
    padding-top: 0px !important;
}

a.active.nav-link {
    background-color: black
}

code[class*="language-"],
pre[class*="language-"] {
    max-width: 100%
}

code {
    >span {
        ~span {
            &:after {
                content: '\A';
                white-space: pre;
            }
        }
    }
}

.color-picker {
    float: right;
    padding: 8px;
    &.charcoal {
        background-color: $prs-charcoal;
    }
    &.ash {
        background-color: $prs-ash;
    }
    &.primary {
        background-color: $prs-primary;
    }
    &.secondary {
        background-color: $prs-primary-dark;
    }
}

.icon-tile {
    margin-right: 16px;
    margin-bottom: 4rem;
    flex-basis: auto;
    .card {
        margin-bottom: 1rem;
        border: none;
        width: 160px;
        height: 160px;
        flex-basis: auto;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        &:hover {
            background-color: $prs-primary;
            .icon {
                color: white;
            }
        }
    }
}

.prs--search,
.prs--label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: visible;
    white-space: nowrap;
    width: 1px;
    color: #152935;
    display: inline-block;
    font-family: ibm-plex-sans, Helvetica Neue, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: .5rem;
    vertical-align: baseline;
}

.prism-button__demo {
    button {
        margin-right: 8px;
    }
}

code,
pre {
    background-color: #ffffff !important;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #ffffff;
}

.tab-pane.active {
    min-height: 100%;
    code,
    pre {
        border-top: none;
        border-left: none;
        padding: 8px;
    }
}

.markdown-img__wrap {
    background-color: $prs-ash;
    padding: 1.6rem;
    .image-size {
        width: 50%;
        margin: 0 auto;
    }
}