/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/

/**
 * 1) Container that consists of of a page header kicker, title, and description
 */

.prism-page-header {
    background-color: #f7f7f7;
    height: 20rem;
    flex-wrap: wrap;
    border-bottom: 1px solid $prs-primary;
    .container {
        padding-top: 5.8rem;
        min-width: 41.2rem;
        max-width: 75rem;
        margin-left: 0;
        padding-left: 0;
    }
}

/**
 * Page header kicker
 */

.prism-page-header__kicker {
    color: $prs-charcoal;
    font-size: 1.4rem;
    margin-left: 1.6rem;
}

/**
 * Page header title
 */

.prism-page-header__title {
    width: 100%;
    padding: 16px;
    margin-bottom: 1.6rem;
    font-size: 48px;
    font-stretch: normal;
    color: $prs-black;
    word-wrap: normal;
    font-weight: $font-weight-light
}

/**
 * Page description
 */

.prism-page-header__desc {
    margin-bottom: 0;
    color: $color-gray-56;
    width: 100%;
    padding: 16px;
}

.ds-page-nav {
    display: inline-flex;
    height: 3.6rem;
    .ds-page-nav__link {
        padding-bottom: 1.6rem;
        color: $prs-primary;
        margin-left: 16px;
        &:hover {
            color: $prs-cerelean-light;
            ;
            border-bottom: 2px solid $prs-cerelean-light;
            ;
        }
        &:active {
            color: $prs-primary;
            border-bottom: 2px solid $prs-primary;
        }
    }
    .ds-page-nav__link.isactive {
        color: $prs-primary;
        border-bottom: 2px solid $prs-primary;
    }
}

#prism-page-header__container {
    margin-left: 0;
    padding-left: 0
}

.comp-detail-header {
    border-bottom: none !important
}