/*------------------------------------*\
    #PRIMARY NAVIGATION
\*------------------------------------*/

/**
 * Primary navigation most likely existing in the header
 */

.prism-primary-nav {}

/**
 * Primary navigation list
 */

.prism-primary-nav__list {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 2.4rem;
    /**
	 * Primary navigation list within a vertical header
	 */
    .prism-header--vertical & {
        display: block;
    }
    @media all and (min-width: $bp-large) {}
}

/**
 * Primary navigation item
 */

.prism-primary-nav__item {
    position: relative;
    line-height: 2;
    @media all and (min-width: $bp-large) {
        margin-right: 1rem;
        /**
		 * Remove margin right from last primary navigation item on large screens
		 */
        &:last-child {
            margin-right: 0;
        }
    }
    /**
	 * Primary navigation item within vertical header
	 */
    .prism-header--vertical & {
        margin-right: 0;
    }
}

/**
 * Primary navigation link
 */

.prism-primary-nav__link {
    color: #808080;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
    &:hover {
        color: $prs-black;
    }
    /**
	 * Primary navigation link within vertical header
	 */
    .prism-header--vertical & {
        padding: 0.5rem 1rem;
    }
}

/**
 * Active primary navigation link
 */

.prism-primary-nav__link.is-active {
    font-weight: bold;
    color: $prs-black;
}

/**
 * Current primary navigation link
 */

.prism-primary-nav__link.is-current {
    font-weight: bold;
    color: $prs-black;
}

/**
 * Primary navigation link with subnavigation
 */

.prism-primary-nav__link--has-children {
    display: flex;
    align-items: center;
    /**
	 * Primary navigation link withing active item
	 */
    .prism-primary-nav__item.is-active & {
        color: $prs-black;
        @media all and (min-width: $bp-large) {
            background: none;
            color: $prs-black;
        }
    }
    /**
	 * Primary navigation link within active item in vertical header
	 */
    .prism-header--vertical .prism-primary-nav__item.is-active & {
        background: none;
        color: $prs-black;
    }
}

/**
 * Primary navigation list subnavigation
 * Targets descendant of the
 */

.prism-primary-nav__subitem {
    /**
	 * Primary navigation sublist within subitem
	 */
    .prism-primary-nav__subitem & {
        display: none;
    }
    /**
	 * Primary navigation sublist within active subitem
	 */
    .prism-primary-nav__subitem.is-active & {
        display: block;
    }
    &:hover {
        color: #2c90cc;
    }
}

/**
 * Primary navigation sublist
 */

.prism-primary-nav__item.is-active {
    .prism-primary-nav__link {
        color: $prs-black;
    }
}

/**
 * Primary navigation list subnavigation first of type
 * 1) First of type is chosen to only choose direct descendant of primary
 *    navigation item
 */

.prism-primary-nav__sublist:first-of-type {
    display: none;
    margin-left: 1rem;
    /**
	 * Primary navigation sublist within vertical header
	 */
    .prism-header--vertical & {
        margin-left: 1rem;
    }
    /**
	 * Primary navigation sublist within vertical header active primary nav item
	 */
    .prism-header--vertical.is-active>& {
        display: block
    }
    /**
	 * Primary navigation sublist within active primary navigation item
	 */
    .prism-primary-nav__item.is-active & {
        display: block;
        @media all and (min-width: $bp-large) {
            top: 100%;
            min-width: 8rem;
        }
    }
    /**
	 * Primary navigation sublist within active item in vertical header
	 */
    .prism-header--vertical .prism-primary-nav__item.is-active & {
        background: none;
        @media all and (min-width: $bp-large) {
            margin: 0;
            margin-left: 1rem;
            padding: 0;
            position: static;
        }
    }
    @media all and (min-width: $bp-large) {
        margin-left: 0;
    }
}

/**
 * Primary navigation sublink
 */

.prism-primary-nav__sublink {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 .5rem .8rem;
    .prism-primary-nav__text {
        &:hover {
            color: $prs-primary;
        }
        &:active {
            color: $prs-primary;
        }
    }
    /**
	 * Primary navigation sublink within vertical header
	 */
    .prism-header--vertical & {
        @media all and (min-width: $bp-large) {
            color: $color-gray-73;
        }
    }
}

/**
 * Active primary navigation link
 */

.prism-primary-nav__sublink.is-active {
    color: $prs-primary;
}

/**
 * Current primary navigation link
 */

.prism-primary-nav__sublink.is-current {
    color: $prs-primary;
}

/**
 * Primary navigation sublink with subnavigation
 */

.prism-primary-nav__sublink--has-children {
    display: flex;
    align-items: center;
}

/**
 * Primary navigation icon
 */

.prism-primary-nav__icon {
    fill: $prs-smoke;
    transition: fill 0.2s ease;
    margin-left: auto;
    /**
	 * Primary navigation icon within vertical header
	 */
    .prism-header--vertical & {
        margin-left: auto;
    }
    /**
	 * Primary navigation icon within active link
	 */
    .prism-primary-nav__item.is-active & {
        fill: $prs-black;
        transform: rotate(180deg);
    }
    /**
	 * Primary navigation icon within active link within vertical header
	 */
    .prism-header--vertical .prism-primary-nav__item.is-active & {
        fill: $prs-black;
        transform: rotate(180deg);
    }
    /**
	 * Primary navigation icon within hovered/focused primary navigation link
	 */
    .prism-primary-nav__link:hover &,
    .prism-primary-nav__link:focus & {
        fill: $prs-black;
    }
}

/**
 * Primary navigation subicon
 */

.prism-primary-nav__subicon {
    fill: $prs-smoke;
    transition: fill 0.2s ease;
    margin-left: auto;
    /**
	 * Primary navigation icon within vertical header
	 */
    .prism-header--vertical & {
        margin-left: auto;
    }
    /**
	 * Primary navigation subicon within active link
	 */
    .prism-primary-nav__subitem.is-active & {
        fill: $color-gray-73;
        transform: rotate(180deg);
    }
    /**
	 * Primary navigation subicon within active subitem within vertical header
	 */
    .prism-header--vertical .prism-primary-nav__subitem.is-active & {
        fill: $color-gray-73;
        transform: rotate(90deg);
    }
    /**
	 * Primary navigation icon within hovered/focused primary navigation link
	 */
    .prism-primary-nav__sublink:hover &,
    .prism-primary-nav__sublink:focus & {
        fill: $color-gray-73;
    }
    a[aria-current='page'] {
        display: block !important
    }
}