/*------------------------------------*\
    #SECTION
\*------------------------------------*/

/**
 * Section block that helps chunk related items together
 */

.prism-section {
    margin-bottom: 4rem;
}

/*------------------------------------*\
    #SECTION HEADER
\*------------------------------------*/

/**
 * 1) Block containing section title and description to distinguish section
 */

.prism-section__header {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $color-gray-07;
}

/**
 * Section header title
 */

.prism-section__title {
    font-size: $font-size-large;
    margin-bottom: 0;
}

/**
 * Section description
 */

.prism-section__desc {
    font-size: $font-size-med;
    margin-bottom: 0;
}

.prism-section__title {
    .prism-well & {
        font-size: $font-size-sm-2;
        margin-bottom: 0;
    }
}
