/*------------------------------------*\
	#TABLE
\*------------------------------------*/

// .component-page-body {
//     padding: 16px;
//     .component-description>h2 {
//         color: $ds-text-primary;
//     }
//     section {
//         padding: 32px;
//     }
//     section>h2 {
//         color: $ds-hover-light
//     }
//     table {
//         text-align: left;
//         border-collapse: collapse;
//         width: 100%;
//     }
//     th {
//         font-weight: 100;
//         padding: 16px 0;
//     }
//     tr:first-child {
//         border-bottom: 1px solid $ds-hover-light;
//     }
//     tr:nth-child(n + 2) {
//         border-top: 1px solid $ds-bg-default;
//     }
//     td {
//         vertical-align: top;
//         padding: 16px 16px 16px 0; // &:first-child {
//         //     padding-top: 16px;
//         // }
//         // &:nth-child(n+2) {
//         //     padding: 16px;
//         // }
//     }
// }
/**
 * 1) Data Table
 */

.prism-table {
    margin-bottom: 1rem;
    min-width: 600px;
    /* 2 */
}

/**
 * Table Header
 */

.prism-table__header {
    border-bottom: 1px solid $prs-cerelean-light;
    color: $prs-cerelean-light;
}

/**
 * Table Header Cell
 */

.prism-table__header-cell {
    padding: 1rem;
}

/**
 * Table Row
 */

.prism-table__row {
    border-bottom: 1px solid $color-gray-07;
}

/**
 * Table Cell
 */

.prism-table__cell {
    padding: 1rem 2rem;
}

/**
 * Table Footer
 */

.prism-table__footer {}

/**
 * Table Footer Cell
 */

.prism-table__footer-cell {
    padding: 0.8rem;
}

.prism-table__color {
    padding: 2rem;
    width: 10rem !important;
}

.typography-table {
    h1,
    h3,
    h5 {
        font-weight: $font-weight-bold !important;
        font-family: $font-condensed;
    }
    span,
    br {
        line-height: 1.3;
    }
}