/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * 1) Unordered list of links where the each link targets different information
 */

/**
 * Tabs list
 */

.prism-tabs__list {
    display: flex;
    border-bottom: 1px solid $color-gray-27;
    padding-left: 16px;
    background-color: transparent;
}

/**
 * Tabs list
 * 1) Overlap the tabs bottom border
 */

.prism-tabs__link {
    font-size: $font-size-med-2;
    display: block;
    padding: 0.5rem 0;
    min-width: 5rem;
    text-align: center;
}

.prism-tabs__list-item {
    margin-bottom: -1px;
    /**
	 * Active tabs link
	 */
    a {
        color: $prs-primary
    }
    &.is-active {
        border: 1px solid $color-gray-27;
        border-bottom: 1px solid $color-white;
    }
}

/**
 * Tab Body
 */

.prism-tabs__body {
    padding: 1rem 0;
    border-top: 0;
    p {
        font-size: 1.6rem;
    }
}

/**
 * Tab Panel
 * 1) Display by default, and only hide if JS is available
 */

.prism-tabs__panel {
    display: none;
    padding: 1rem;
    /**
	 * Active tabs panel
	 */
    &.is-active {
        display: block;
    }
}

.tab-content {
    overflow: scroll;
    height: 26rem
}

.component-tabs {
    .prism-tabs__list {
        background-color: #f7f7f7;
        height: 36px;
        border-bottom: 1px solid $prs-primary;
        .prism-tabs__list-item {
            padding-bottom: 8px;
            margin-right: 8px;
            &.is-active {
                border-top: none !important;
                border-right: none !important;
                border-left: none !important;
                border-bottom: 3px solid $prs-primary;
            }
        }
    }
}