/*------------------------------------*\
    #TEXT PASSAGE
\*------------------------------------*/

/**
 * 1) A passage of text, including various components (i.e. article, blog post)
 */

.prism-text-passage {
    line-height: 1.5;
    p {
        margin-bottom: 1rem;
    }
    /**
	 * Blockquote within text passage
	 */
    blockquote {
        padding-left: 0.8rem;
        border-left: 3px solid $color-gray-73;
        color: $color-gray-50;
        font-size: 1rem;
    }
    ul {
        list-style: disc;
        margin-left: 1rem;
        margin-bottom: 1rem;
        li:last-child {
            margin-bottom: 0;
        }
    }
    /**
	 * Ordered list within text passage
	 */
    ol {
        list-style: decimal;
        margin-left: 1rem;
        margin-bottom: 1rem;
        li:last-child {
            margin-bottom: 0;
        }
    }
    li {
        margin-bottom: 0.5rem;
        line-height: 1.6;
    }
}