/*------------------------------------*\
    #WELL
\*------------------------------------*/

/**
 * 1) A visually-styled container for content.
 */

.prism-well {
    background: $color-white;
    border: 1px solid $color-gray-15;
    padding: 1.5rem;
    margin-bottom: 2rem;
}