/*------------------------------------*\
    #WRAPPER
\*------------------------------------*/

/**
 * 1) The main wrapper <div> for the website 
 */

.prism-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}