$icomoon-font-family: "PRS" !default;
$icomoon-font-path: "fonts" !default;

$prs-icon-home: "\e901";
$prs-icon-office: "\e909";
$prs-icon-pencil: "\e90e";
$prs-icon-edit: "\e914";
$prs-icon-image: "\e93c";
$prs-icon-images: "\e93e";
$prs-icon-camera: "\e944";
$prs-icon-connection-max: "\e97c";
$prs-icon-connection-strong: "\e97d";
$prs-icon-connection-medium: "\e97e";
$prs-icon-connection-weak: "\e97f";
$prs-icon-mic: "\e989";
$prs-icon-mic-muted: "\e98a";
$prs-icon-book: "\e993";
$prs-icon-file-empty: "\e99d";
$prs-icon-files-empty: "\e99f";
$prs-icon-file-text: "\e9ad";
$prs-icon-file-presentation: "\e9bf";
$prs-icon-stack: "\e9cf";
$prs-icon-folder: "\e9db";
$prs-icon-folder-open: "\e9dc";
$prs-icon-tag: "\e9ee";
$prs-icon-tags: "\e9ef";
$prs-icon-barcode: "\e9f6";
$prs-icon-qrcode: "\e9f8";
$prs-icon-cart: "\e9ff";
$prs-icon-dollar-circle: "\e9fe";
$prs-icon-credit-card: "\ea16";
$prs-icon-calculator: "\ea18";
$prs-icon-phone: "\ea1d";
$prs-icon-address-book: "\ea2b";
$prs-icon-at-sign: "\ea2f";
$prs-icon-envelope: "\ea32";
$prs-icon-location: "\ea38";
$prs-icon-map: "\ea48";
$prs-icon-history: "\ea4c";
$prs-icon-clock: "\ea4e";
$prs-icon-watch: "\ea52";
$prs-icon-alarm: "\ea53";
$prs-icon-alarm-add: "\ea54";
$prs-icon-alarm-check: "\ea55";
$prs-icon-alarm-cancel: "\ea56";
$prs-icon-calendar: "\ea62";
$prs-icon-printer: "\ea66";
$prs-icon-mouse: "\ea69";
$prs-icon-display: "\ea73";
$prs-icon-laptop: "\ea74";
$prs-icon-mobile: "\ea75";
$prs-icon-mobile-large: "\ea76";
$prs-icon-tablet: "\ea77";
$prs-icon-download: "\ea84";
$prs-icon-upload: "\ea85";
$prs-icon-disk: "\ea86";
$prs-icon-drive: "\ea8e";
$prs-icon-server: "\ea8f";
$prs-icon-database: "\ea90";
$prs-icon-rotate-ccw: "\eaa6";
$prs-icon-rotate: "\eaa7";
$prs-icon-flip-vertical: "\eaaf";
$prs-icon-align-right: "\eab8";
$prs-icon-align-top: "\eab9";
$prs-icon-align-center-vertical: "\eaba";
$prs-icon-align-bottom: "\eabb";
$prs-icon-reply: "\eabc";
$prs-icon-forward: "\eabd";
$prs-icon-forward-down: "\eabe";
$prs-icon-reply-down: "\eabf";
$prs-icon-reply-all-down: "\eac0";
$prs-icon-bubble: "\eac1";
$prs-icon-bubbles: "\eac2";
$prs-icon-bubbles-2: "\eac3";
$prs-icon-user: "\eaf4";
$prs-icon-users: "\eaf5";
$prs-icon-user-plus: "\eaf6";
$prs-icon-user-minus: "\eaf7";
$prs-icon-user-cancel: "\eaf8";
$prs-icon-user-block: "\eaf9";
$prs-icon-user-lock: "\eafa";
$prs-icon-user-check: "\eafb";
$prs-icon-users-active: "\eafc";
$prs-icon-spinner: "\eb20";
$prs-icon-search: "\eb2d";
$prs-icon-enlarge: "\eb3b";
$prs-icon-shrink: "\eb3c";
$prs-icon-pinch-out: "\eb45";
$prs-icon-pinch: "\eb46";
$prs-icon-locked: "\eb50";
$prs-icon-unlocked: "\eb51";
$prs-icon-wrench: "\eb55";
$prs-icon-equalizer: "\eb58";
$prs-icon-equalizer-vertical: "\eb59";
$prs-icon-gear: "\eb5e";
$prs-icon-hammer-wrench: "\eb66";
$prs-icon-screwdriver: "\eb68";
$prs-icon-graph-pie: "\eb7e";
$prs-icon-graph-pie-2: "\eb7f";
$prs-icon-graph-pie-3: "\eb80";
$prs-icon-graph-pie-4: "\eb81";
$prs-icon-graph-pie-5: "\eb82";
$prs-icon-graph-pie-6: "\eb83";
$prs-icon-graph-line-dots: "\eb84";
$prs-icon-graph-bars-resize: "\eb85";
$prs-icon-graph-pie-resize: "\eb86";
$prs-icon-graph-bars: "\eb87";
$prs-icon-graph-bars-2: "\eb88";
$prs-icon-graph-bars-3: "\eb89";
$prs-icon-graph-bars-4: "\eb8a";
$prs-icon-graph-bars-5: "\eb8b";
$prs-icon-graph-line-filled: "\eb8c";
$prs-icon-graph-bars-growth: "\eb8d";
$prs-icon-graph-bars-decline: "\eb8e";
$prs-icon-medal: "\eb9d";
$prs-icon-meter: "\ebe0";
$prs-icon-bin: "\ebfb";
$prs-icon-car: "\ec07";
$prs-icon-steering-wheel: "\ec08";
$prs-icon-gas: "\ec0a";
$prs-icon-road: "\ec0e";
$prs-icon-shield: "\ec2e";
$prs-icon-shield-check: "\ec2f";
$prs-icon-shield-notice: "\ec30";
$prs-icon-lightning-bolt: "\ec46";
$prs-icon-power: "\ec48";
$prs-icon-clipboard: "\ec50";
$prs-icon-clipboard-check: "\ec51";
$prs-icon-clipboard-text: "\ec52";
$prs-icon-list: "\ec57";
$prs-icon-three-dots-vertical: "\ec59";
$prs-icon-grid: "\ec5c";
$prs-icon-grid-small: "\ec5f";
$prs-icon-tree: "\ec62";
$prs-icon-network: "\ec64";
$prs-icon-three-dots-horizontal: "\ec67";
$prs-icon-bullet: "\ec68";
$prs-icon-three-bars: "\ec6e";
$prs-icon-to-bottom: "\ec82";
$prs-icon-to-top: "\ec83";
$prs-icon-download-2: "\ec84";
$prs-icon-upload-2: "\ec85";
$prs-icon-globe: "\ec8e";
$prs-icon-link: "\ec96";
$prs-icon-unlink: "\ec97";
$prs-icon-flag: "\eca1";
$prs-icon-flag-empty: "\eca2";
$prs-icon-eye: "\ecb1";
$prs-icon-eye-blocked: "\ecb2";
$prs-icon-bookmark: "\ecb4";
$prs-icon-bookmark-empty: "\ecb5";
$prs-icon-star-empty: "\ece0";
$prs-icon-star-half: "\ece1";
$prs-icon-star-full: "\ece2";
$prs-icon-thumbs-up-o: "\ecf2";
$prs-icon-thumbs-up: "\ecf5";
$prs-icon-cursor-pointer: "\ed23";
$prs-icon-cursor-hand: "\ed36";
$prs-icon-cursor-move: "\ed4a";
$prs-icon-angle-dots: "\ed4b";
$prs-icon-notification-o: "\ed4c";
$prs-icon-notification: "\ed4d";
$prs-icon-notification-circle-o: "\ed4e";
$prs-icon-notification-circle: "\ed4f";
$prs-icon-question-o: "\ed52";
$prs-icon-question: "\ed53";
$prs-icon-plus: "\ed58";
$prs-icon-minus: "\ed59";
$prs-icon-plus-circle-o: "\ed5c";
$prs-icon-minus-circle-o: "\ed5d";
$prs-icon-plus-circle: "\ed5e";
$prs-icon-minus-circle: "\ed5f";
$prs-icon-info-o: "\ed60";
$prs-icon-info: "\ed61";
$prs-icon-cancel-circle-o: "\ed62";
$prs-icon-cancel-circle: "\ed63";
$prs-icon-notification-octagon: "\ed68";
$prs-icon-cross-bold: "\ed69";
$prs-icon-cross: "\ed6a";
$prs-icon-cross-small: "\ed6b";
$prs-icon-checkmark: "\ed6e";
$prs-icon-enter: "\ed73";
$prs-icon-exit: "\ed74";
$prs-icon-play: "\ed82";
$prs-icon-pause: "\ed83";
$prs-icon-stop: "\ed84";
$prs-icon-rewind: "\ed85";
$prs-icon-fast-forward: "\ed86";
$prs-icon-first: "\ed87";
$prs-icon-last: "\ed88";
$prs-icon-previous: "\ed89";
$prs-icon-next: "\ed8a";
$prs-icon-eject: "\ed8b";
$prs-icon-volume-high: "\ed8c";
$prs-icon-volume-medium: "\ed8d";
$prs-icon-volume-low: "\ed8e";
$prs-icon-volume-mute: "\ed8f";
$prs-icon-volume-eks: "\ed92";
$prs-icon-volume-increase: "\ed93";
$prs-icon-volume-decrease: "\ed94";
$prs-icon-swap: "\eda5";
$prs-icon-refresh: "\eda7";
$prs-icon-loop: "\edab";
$prs-icon-shuffle: "\edac";
$prs-icon-chevron-up: "\edb5";
$prs-icon-chevron-right: "\edb9";
$prs-icon-chevron-down: "\edbd";
$prs-icon-chevron-left: "\edc1";
$prs-icon-triangle-up: "\edc4";
$prs-icon-triangle-right: "\edc5";
$prs-icon-triangle-down: "\edc6";
$prs-icon-triangle-left: "\edc7";
$prs-icon-expand: "\ee39";
$prs-icon-collapse: "\ee3b";
$prs-icon-checkbox-checked: "\ee6b";
$prs-icon-checkbox-unchecked: "\ee6c";
$prs-icon-square: "\ee6c";
$prs-icon-radio-checked: "\ee6f";
$prs-icon-radio-unchecked: "\ee70";
$prs-icon-circle: "\ee70";
$prs-icon-checkmark-circle: "\ee73";
$prs-icon-radio-checked-2: "\ee73";
$prs-icon-filter: "\ee88";
$prs-icon-table: "\eeac";
$prs-icon-export: "\eec5";
$prs-icon-popout: "\eec8";
$prs-icon-share: "\eedd";
$prs-icon-facebook: "\eee9";
$prs-icon-instagram: "\eeec";
$prs-icon-twitter: "\eeed";
$prs-icon-feed: "\eef0";
$prs-icon-youtube: "\eef5";
$prs-icon-file-pdf: "\ef36";
$prs-icon-file-word: "\ef38";
$prs-icon-file-excel: "\ef39";
$prs-icon-page-cancel: "\e005";
$prs-icon-direction: "\e0fe";
$prs-icon-external: "\eec6";
$prs-icon-currency-dollar-tag: "\e903";
$prs-icon-stack-check: "\e902";
$prs-icon-badge: "\e904";
$prs-icon-arrow-down: "\edd6";
$prs-icon-arrow-up: "\edd2";
$prs-icon-details: "\e900";
$prs-icon-manheim-medallion: "\e905";
$prs-icon-book-minus: "\e906";
$prs-icon-book-plus: "\e907";
$prs-icon-bars-vertical: "\e908";
$prs-icon-bell: "\ea58";
$prs-icon-disks: "\ea87";
$prs-icon-gavel: "\ebe1";
$prs-icon-arrows-left-right: "\ee44";
$prs-icon-folder-minus: "\e9d6";
$prs-icon-folder-plus: "\e9d4";
$prs-icon-arrow-up-dashed: "\ee35";
$prs-icon-a-left-arrow: "\e90a";
$prs-icon-car-side: "\e90b";
$prs-icon-gauge: "\e90d";
$prs-icon-droplet: "\e90f";
$prs-icon-g-cr: "\e910";
$prs-icon-clock-o: "\ea4d";
$prs-icon-bluetooth: "\e90c";
$prs-icon-postcard: "\e911";

