@function btn-bg-color($color) {
    @if (lightness($color) > 50) {
        @return $prs-cerelean-light; // Lighter backgorund, return dark color
    }
    @else {
        @return #ffffff; // Darker background, return light color
    }
}