$theme-colors: ( "primary": $prs-primary, "danger": $prs-scarlet);
$body-color: $prs-charcoal;
$yiq-text-dark: $prs-charcoal;
$input-placeholder-color: $prs-smoke;
$input-color: #000000;
$input-placeholder-color: $prs-smoke;
$input-focus-border-color: $prs-smoke;
$input-btn-focus-box-shadow: 0 0 4px 0 $prs-smoke;
$red: $prs-scarlet;
$danger: $prs-scarlet;
$font-size-base: 1.6rem;
$input-focus-color: $prs-black;
$input-height-lg: 4rem;
$input-btn-padding-x: .8rem;
$danger: $prs-scarlet;