/*------------------------------------*\
    #SPACING CLASSES
\*------------------------------------*/

.u-margin-bottom-none {
    margin-bottom: 0 !important;
}

.prism-section__mb-s {
    margin-bottom: 4rem !important;
}

.prism-section__mb-l {
    margin-bottom: 8rem !important;
}

.prism-section__mt-s {
    margin-top: 4rem !important;
}

.prism-section__mt-l {
    margin-top: 8rem !important;
}

.u-margin-left-none {
    margin-left: 0 !important;
}

.u-margin-top-quad {
    margin-top: 4rem !important;
}

.u-padding-bottom-none {
    padding-bottom: 0 !important;
}

.p-16 {
    padding: 1.6rem !important;
}

.m-16 {
    margin: 1.6rem !important;
}

.pt-8 {
    padding-top: .8rem !important;
}

.pt-16 {
    padding-top: 1.6rem !important;
}

.pb-8 {
    padding-bottom: .8rem !important;
}

.pb-16 {
    padding-bottom: 1.6rem !important;
}

.mt {
    &-8 {
        margin-top: .8rem !important;
    }
    &-16 {
        margin-top: 1.6rem !important;
    }
}

.m {
    &-8 {
        margin: .8rem !important;
    }
    &-16 {
        margin: 1.6rem !important;
    }
}

.mb-8 {
    margin-bottom: .8rem !important;
}

.mb-16 {
    margin-bottom: 1.6rem !important;
}

.text-spacer-md {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem
}