.alert {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 8px;
    .icon {
        font-size: 1.4rem;
        margin-right: 8px;
        margin-top: 4px;
    }
    .alert__title {
        font-weight: $font-weight-bold
    }
    &-primary {
        background-color: $prs-cerelean-light;
        color: $prs-primary
    }
    &-success {
        background-color: $prs-meadow-light;
        color: $prs-charcoal
    }
    &-warning {
        background-color: $prs-gold-light;
        color: $prs-scarlet-dark;
    }
    &-danger {
        background-color: $prs-scarlet-light;
        color: $prs-scarlet-dark;
    }
}