button,
a,
input {
  &.btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.5;
    margin: 8px;
    &-sm {
      height: 32px;
      line-height: 1;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;
    }
    i {
      font-size: 1.4rem;
      line-height: 1;
      &.btn-icon__right {
        padding-left: 8px;
      }
      &.btn-icon__left {
        padding-right: 8px;
      }
    }
    &.btn-icon-only {
      width: 3.2rem;
      height: 3.2rem;
      i {
        font-size: 1.6rem;
        line-height: 1;
        margin-left: auto;
      }
    }
    &:focus {
        box-shadow: 0px 0px 4px $prs-smoke;
      }
    &.btn-outline-primary {
      &:hover {
        background-color: $prs-cerelean-light;
        color: $prs-primary;
        border: transparent;
      }
    }
    &.btn-outline-primary {
      padding-left: 16px;
      padding-right: 16px;
    }
    &[class*='btn-outline-'] {
      border: 1px solid $prs-smoke;
    }
    &.disabled,
    .btn-secondary.disabled,
    .btn-outline.disabled,
    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      color: $prs-charcoal;
      border-color: $prs-smoke;
      &:focus {
        outline: none;
        border: none;
      }
    }
    &[class^='btn-textonly'],
    &[class*='btn-textonly'] {
      &:hover {
        border: transparent;
        background-color: $prs-cerelean-light;
        color: $prs-primary;
      }
      &:disabled,
      &.disabled {
        border: none;
        background-color: transparent;
        &:hover {
          cursor: not-allowed;
          border: none;
          color: $prs-charcoal;
        }
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
  }
}

.btn {
  &-secondary {
    color: $prs-navy-dark;
    background-color: #ffc20e;
    border-color: #ffc20e;
    &:hover{
        color: $prs-black;
    }
  }
  &-success {
    background-color: $prs-meadow;
    border-color: $prs-meadow;
    color: black;
    &:focus {
      background-color: $prs-meadow;
      border-color: $prs-meadow;
      color: black;
    }
    &:hover {
      background-color: $prs-jungle;
      border-color: $prs-jungle;
    }
  }
}
