.dropdown {
    button {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        margin-left: 8px;
        margin-right: 8px;
        &:focus {
            box-shadow: 0px 0px 4px $prs-smoke;
       }
    }
}