 
.modal {
    &.show {
        transition: opacity 0.2s linear;
    }

    &.fade {
        transition: opacity 0s linear;        
    }
    .modal-header {
        padding-top: 24px;
        padding-right: 32px;
        padding-left: 32px;
           
    }
    .modal-dialog {
        margin: 0 auto;
        width: 90%;
        max-width: 64rem;
        margin-top: 8rem;
        &.show {
            transition: linear 200ms;
        }
        @media all and (max-width: 680px) and (min-width: 479px) {
           
        }
        @media all and(max-width: 479px) {
            width: 100%;
            margin-top: 0rem
        }
        .modal-content {
            border-radius: 4rem;
            -webkit-border-radius: .4rem;
            -moz-border-radius: .4rem;
            -ms-border-radius: .4rem;
            -o-border-radius: .4rem;
            @media all and(max-width: 479px) {
                position: fixed;
                height: 100vh;
                width: 100vw;
                border-radius: 0%;
            }
            @media all and (max-width: 680px) and (min-width: 480px) {
                width: 320px;
                margin: 0 auto;
                border-radius: 4px;
                border-color:#4a4a4a ;
            }
        }
        .modal-body {
            padding-right: 32px;
            padding-left: 32px;
            padding-bottom: 32px;

            @media all and(max-width: 479px) {
                padding-left: 2.4rem;
                padding-right: 2.4rem;
                padding-top: 16px;
            }
            @media all and (max-width: 680px) and (min-width: 479px) {
           
            }
        }
        @media all and(min-width: $bp-large) {
            margin-top: 12rem;
        }
    }
}

.modal-backdrop{
        &.fade {
                transition: opacity 0s;
        }
}

.modal-backdrop, .modal {
    &.show {
        transition: opacity 0.2s linear;
    }
}  


.modal__sm {}

.modal-header {
    border-bottom: none;
    @media all and(max-width: 479px) {
        background-color: $prs-navy-dark;
    }
    .modal-title {
        font-size: 2rem;
        color: $prs-navy;
        font-weight: $font-weight-bold;
        @media all and(max-width: 479px) {
            color: white;
        }
    }
    .close {
        @media all and(max-width: 479px) {
            color: white;
            opacity: 100;
        }
        @media all and (max-width: 680px) and (min-width: 479px) {
           display: none;
        }
    }
}

.modal-body {}

.modal-footer {
    padding-bottom: 32px;
    border-top: none;
    @media all and(max-width: 479px) {
        background-color: rgba(238, 238, 238, 0.95);
        display: block;
        opacity: 95;
        height: 120px;
    }

    .btn-textonly-primary.btn.btn-primary {
        @media all and(max-width: 479px) {
            width: 95%;
            position: absolute;
            z-index: 1;
            margin: 14% 0% 0% 1%;
        }
    }

    .btn.btn-secondary {
        @media all and(max-width: 479px) {
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }
}
 
