/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Button and submit inputs reset
 * 1) These should be styled using c-btn
 */

button {
    cursor: pointer;
    font-size: 1.6rem;
}

.btn {
    font-size: 1.6rem;
}