/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1 base styles
 */

h1 {

    line-height: 1;
    word-wrap: break-word;
     font-weight: $font-weight-light;
}

/**
 * Heading 2 base styles
 */

h2 {

    line-height: 1.2;
    letter-spacing: -0.02rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word;

}

/**
 * Heading 3 base styles
 */

h3 {
 
    line-height: 1.2;
    margin-bottom: 0.3rem;
    word-wrap: break-word;

}
