/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link base styles
 */

a {
    color: $prs-smoke;
    font-size: 1.4rem;
    text-decoration: none;
    outline: 0;
    transition: color $anim-fade-quick $anim-ease;
    &:hover,
    &:focus {
        color: $prs-charcoal;
    }
    &:active {
        color: $prs-charcoal;
    }
}