/*------------------------------------*\
    #TABLES
\*------------------------------------*/

/**
 * Table
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 1.6rem;
}

/**
 * Table header cell
 */

th {
    text-align: left;
    font-size: 1.6rem;
    font-weight: normal;
}

/**
 * Table row
 */

tr {
    vertical-align: top;
}