/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * headings
 */

h1,
prism-h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-light;
}

h2,
prism-h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-light;
}

h3,
.prism-h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-bold;
}

.markdown-h3 {
    margin-bottom: 4rem;
}

h4,
.prism-h4 {
    font-size: $font-size-h4;
    font-weight: $font-weight-light;
}

h5,
.prism-h5 {
    font-size: $font-size-h5;
    font-weight: $font-weight-bold;
}

p {
    line-height: 2.4rem;
}

p,
a {
    font-size: $font-size-med;
    &.font-size-large {
        font-size: $font-size-large;
    }
    &.font-size-small {
        font-size: $font-size-sm;
    }
    &.p-large {
        font-size: 1.6rem !important;
    }
    &.p-sm {
        font-size: 1.2rem !important;
    }
    &.p-xs {
        font-size: 1.2rem !important;
    }
}

.font-condensed {
    font: $font-condensed;
}

/**
 * font utilities
 */

.font-size-large {
    font-size: $font-size-large !important;
    ;
}

.font-size-small {
    font-size: $font-size-sm !important;
    ;
}

.font-size-xs {
    font-size: $font-size-tiny !important;
    ;
}

.font-size-med {
    font-size: $font-size-med !important;
    ;
}

.font-weight-bold {
    font-weight: $font-weight-bold !important;
    ;
}

.font-weight-light {
    font-weight: $font-weight-light !important;
    ;
}

.font-weight-regular {
    font-weight: $font-weight-regular !important;
}

/**
 * Blockquote base styles
 */

blockquote {
    font-style: italic;
    border-left: 1px solid $color-gray-50;
    color: $color-gray-50;
    padding-left: 1rem;
    margin-bottom: $spacing;
}

/**
 * Horizontal rule base styles
 */

hr {
    border: 0px solid white !important;
    background: $prs-white;
    margin-top: 0rem !important;
    margin-bottom: 4rem !important;
}

/**
 * Selection styles
 */

::-moz-selection {
    color: #131313;
    background: #dddddd;
    /* Gecko Browsers */
}

::selection {
    color: #131313;
    background: #dddddd;
    /* WebKit/Blink Browsers */
}

/**
 * Code base styles
 */

code {
    display: inline-block;
    background: $color-gray-02;
    border: 1px solid $color-gray-13;
    padding: .2rem .5rem;
    line-height: 1.2;
    font-size: 1.6rem;
    /**
	 * 1) Force code inside tables to remain on one line
	 * 2) //TODO: cleanup
 	 */
    .c-table & {
        white-space: nowrap;
    }
}

/**
 * Preformatted text base styles
 */

pre {
    background: $color-gray-02;
    border: 1px solid $color-gray-13;
    font-size: $font-size-med;
    padding: 1rem;
    overflow-x: auto;
    /**
	 * Remove border from code within preformatted text block
	 */
    code {
        border: 0;
    }
}

/**
 * Code with languages associated with them
 * 1) Override Prism sysles for code blocks with language
 */

.h1-condensed-bold {
    font: $font-condensed !important;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
}

.fs-12 {
    font-size: 1.2rem !important
}

.fs-16 {
    font-size: 1.6rem !important
}

.fs-24 {
    font-size: 2.4rem !important
}