/*------------------------------------*\
   #STYLE GUIDE SPECIFIC CSS
\*------------------------------------*/

/**
* 1) Override some Prism defaults
*/
code[class*="language-"], pre[class*="language-"] {
    tab-size: 2;
}

.pattern-code {
    position: relative;
    margin-top: 2rem;
}

/**
* Applied to pre element
*/
.pattern-code-block {
    margin-top: 0;
    max-height: 25rem;
    overflow-y: hidden;
}

.is-expanded .pattern-code-block {
    max-height: none;
}

.pattern-code-copy-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0.2rem;
}
