// :root {
//     font-size: 62.5%;
//     body {
//         margin: 0; // Body font size 16px
//         font-size: 1.6rem;
//     }
// }

// /*------------------------------------*\
//     #TABLE OF CONTENTS
// \*------------------------------------*/

// /**
//  * ABSTRACTS..............................Declarations of Sass variables & mixins
//  * BASE...................................Default element styles
//  * LAYOUT.................................Layout-specific styles
//  * COMPONENTS.............................Component styles
//  * UTILITIES..............................Utility classes
//  */

// /*------------------------------------*\
//     #Import Prism DS Styles
// \*------------------------------------*/

// /*------------------------------------*\
//     #ABSTRACTS
// \*------------------------------------*/

// @import "site-styles/scss/abstracts/variables";
// @import "site-styles/scss/abstracts/mixins";
// /*------------------------------------*\
//     #BASE
// \*------------------------------------*/

// @import "site-styles/scss/base/typography";
// @import "site-styles/scss/base/reset";
// @import "site-styles/scss/base/body";
// @import "site-styles/scss/base/links";
// @import "site-styles/scss/base/lists";
// @import "site-styles/scss/base/headings";
// @import "site-styles/scss/base/buttons";
// @import "site-styles/scss/base/main";
// @import "site-styles/scss/base/media";
// @import "site-styles/scss/base/text";
// @import "site-styles/scss/base/table";
// /*------------------------------------*\
//     #LAYOUT
// \*------------------------------------*/

// @import "site-styles/scss/layout/layout";
// /*------------------------------------*\
//     #Elements
// \*------------------------------------*/

// @import "site-styles/scss/base/forms";
// /*------------------------------------*\
//     #COMPONENTS
// \*------------------------------------*/

// /**
//  * Global
//  */

// @import "site-styles/scss/components/footer";
// @import "site-styles/scss/components/header";
// @import "site-styles/scss/components/logo";
// /**
//  * Page
//  */

// @import "site-styles/scss/components/wrapper";
// @import "site-styles/scss/components/section";
// @import "site-styles/scss/components/page-header";
// /**
//  * Navigation
//  */

// @import "site-styles/scss/components/footer-nav";
// @import "site-styles/scss/components/primary-nav";
// @import "site-styles/scss/components/breadcrumbs";
// /**
//  * Buttons
//  */

// @import "site-styles/scss/components/button";
// @import "site-styles/scss/components/button-group";
// /**
//  * Forms
//  */

// /**
//  * Blocks
//  */

// @import "site-styles/scss/components/card";
// @import "site-styles/scss/components/content-block";
// @import "site-styles/scss/components/hero";
// @import "site-styles/scss/components/well";
// @import "site-styles/scss/components/color-card";
// /**
//  * Tables
//  */

// @import "site-styles/scss/components/table";
// /**
//  * Images
//  */

// @import "site-styles/scss/components/icon";
// /**
//  * Text
//  */

// @import "site-styles/scss/components/text-passage";
// @import "site-styles/scss/components/badge";
// /**
//  * Lists
//  */

// @import "site-styles/scss/components/card-list";
// /**
//  * Markdown
//  */

// /**
//  * Interactive
//  */

// @import "site-styles/scss/components/tabs";
// @import "site-styles/scss/components/accordion";
// /*------------------------------------*\
//     #UTILITIES
// \*------------------------------------*/

// @import "site-styles/scss/utilities/spacing";
// @import "site-styles/scss/utilities/colors";
// @import "site-styles/scss/utilities/visibility";
// @import "site-styles/scss/utilities/visibility";
// @import "site-styles/scss/components/markdown";
// /*------------------------------------*\
//     #UTILITIES
// \*------------------------------------*/

// @import "site-styles/scss/vendor/prism"; //TODO: Remove for production
// .fpo {
//     background: #ddd;
//     padding: 1rem;
//     text-align: center;
//     font-weight: bold;
//     margin-bottom: 0.5rem;
// }

// @import "site-styles/scss/vendor/bootstrap/bootstrap.scss";
// @import "prs-styles/fonts/PRS-Icon-Font/style.scss";
// @import "prs-styles/scss/index.scss";