.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.prs-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.prs-icon-images {
  width: 1.125em;
}

.prs-icon-bubbles-2 {
  width: 1.125em;
}
