.text {
    &-primary {
        color: $prs-primary !important;
    }
    &-danger {
        color: $prs-scarlet !important;
    }
    &-secondary {
        color: $prs-gold !important;
    }
    &-warning {
        color: $prs-saffron !important;
    }
}