.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.prs-icon-images {
  width: 18px;
  height: 16px;
  background-position: 0 0;
}
.prs-icon-files-empty {
  width: 16px;
  height: 16px;
  background-position: -32px 0;
}
.prs-icon-barcode {
  width: 16px;
  height: 16px;
  background-position: -64px 0;
}
.prs-icon-credit-card {
  width: 16px;
  height: 16px;
  background-position: -96px 0;
}
.prs-icon-location {
  width: 16px;
  height: 16px;
  background-position: -128px 0;
}
.prs-icon-printer {
  width: 16px;
  height: 16px;
  background-position: -160px 0;
}
.prs-icon-mobile {
  width: 16px;
  height: 16px;
  background-position: -192px 0;
}
.prs-icon-bubbles-2 {
  width: 18px;
  height: 16px;
  background-position: -224px 0;
}
.prs-icon-user {
  width: 16px;
  height: 16px;
  background-position: -256px 0;
}
.prs-icon-search {
  width: 16px;
  height: 16px;
  background-position: -288px 0;
}
.prs-icon-medal {
  width: 16px;
  height: 16px;
  background-position: -320px 0;
}
.prs-icon-bin {
  width: 16px;
  height: 16px;
  background-position: -352px 0;
}
.prs-icon-shield {
  width: 16px;
  height: 16px;
  background-position: -384px 0;
}
.prs-icon-shield-check {
  width: 16px;
  height: 16px;
  background-position: -416px 0;
}
.prs-icon-list {
  width: 16px;
  height: 16px;
  background-position: -448px 0;
}
.prs-icon-three-dots-horizontal {
  width: 16px;
  height: 16px;
  background-position: -480px 0;
}
.prs-icon-menu {
  width: 16px;
  height: 16px;
  background-position: 0 -32px;
}
.prs-icon-star-empty {
  width: 16px;
  height: 16px;
  background-position: -32px -32px;
}
.prs-icon-star-half {
  width: 16px;
  height: 16px;
  background-position: -64px -32px;
}
.prs-icon-star-full {
  width: 16px;
  height: 16px;
  background-position: -96px -32px;
}
.prs-icon-notification-circle {
  width: 16px;
  height: 16px;
  background-position: -128px -32px;
}
.prs-icon-info {
  width: 16px;
  height: 16px;
  background-position: -160px -32px;
}
.prs-icon-cross {
  width: 16px;
  height: 16px;
  background-position: -192px -32px;
}
.prs-icon-chevron-up {
  width: 16px;
  height: 16px;
  background-position: -224px -32px;
}
.prs-icon-chevron-right {
  width: 16px;
  height: 16px;
  background-position: -256px -32px;
}
.prs-icon-chevron-down {
  width: 16px;
  height: 16px;
  background-position: -288px -32px;
}
.prs-icon-chevron-left {
  width: 16px;
  height: 16px;
  background-position: -320px -32px;
}
.prs-icon-triangle-up {
  width: 16px;
  height: 16px;
  background-position: -352px -32px;
}
.prs-icon-triangle-right {
  width: 16px;
  height: 16px;
  background-position: -384px -32px;
}
.prs-icon-triangle-down {
  width: 16px;
  height: 16px;
  background-position: -416px -32px;
}
.prs-icon-triangle-left {
  width: 16px;
  height: 16px;
  background-position: -448px -32px;
}
.prs-icon-checkmark-circle {
  width: 16px;
  height: 16px;
  background-position: -480px -32px;
}
.prs-icon-filter {
  width: 16px;
  height: 16px;
  background-position: 0 -64px;
}
.prs-icon-export {
  width: 16px;
  height: 16px;
  background-position: -32px -64px;
}
.prs-icon-file-pdf {
  width: 16px;
  height: 16px;
  background-position: -64px -64px;
}
.prs-icon-file-excel {
  width: 16px;
  height: 16px;
  background-position: -96px -64px;
}
.prs-icon-direction {
  width: 16px;
  height: 16px;
  background-position: -128px -64px;
}
.prs-icon-details {
  width: 16px;
  height: 16px;
  background-position: -160px -64px;
}
.prs-icon-bell {
  width: 16px;
  height: 16px;
  background-position: -192px -64px;
}
.prs-icon-paint-can {
  width: 16px;
  height: 16px;
  background-position: -224px -64px;
}
.prs-icon-bell-o {
  width: 16px;
  height: 16px;
  background-position: -256px -64px;
}
.prs-icon-heart-o {
  width: 16px;
  height: 16px;
  background-position: -288px -64px;
}
.prs-icon-heart {
  width: 16px;
  height: 16px;
  background-position: -320px -64px;
}
.prs-icon-file-spreadsheet {
  width: 16px;
  height: 16px;
  background-position: -352px -64px;
}
.prs-icon-envelop5 {
  width: 16px;
  height: 16px;
  background-position: -384px -64px;
}
.prs-icon-calendar {
  width: 16px;
  height: 16px;
  background-position: -416px -64px;
}
.prs-icon-zoom-in {
  width: 16px;
  height: 16px;
  background-position: -448px -64px;
}
.prs-icon-zoom-out {
  width: 16px;
  height: 16px;
  background-position: -480px -64px;
}
.prs-icon-meter-slow {
  width: 16px;
  height: 16px;
  background-position: 0 -96px;
}
.prs-icon-car1 {
  width: 16px;
  height: 16px;
  background-position: -32px -96px;
}
.prs-icon-truck {
  width: 16px;
  height: 16px;
  background-position: -64px -96px;
}
.prs-icon-cloud-upload {
  width: 16px;
  height: 16px;
  background-position: -96px -96px;
}
.prs-icon-plus3 {
  width: 16px;
  height: 16px;
  background-position: -128px -96px;
}
.prs-icon-blocked {
  width: 16px;
  height: 16px;
  background-position: -160px -96px;
}
.prs-icon-sort {
  width: 16px;
  height: 16px;
  background-position: -192px -96px;
}

