/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * 1) Form element base styles
 */

/**
 * Input placeholder text base styles
 */

::-webkit-input-placeholder {
    color: $prs-smoke;
}

::-moz-placeholder {
    color: $prs-smoke;
}

:-ms-input-placeholder {
    color: $prs-smoke
}

/**
 * Fieldset base styles
 */

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/**
 * Legend base styles
 */

legend {
    margin-bottom: 0.25rem;
}

/**
 * Label base styles
 */

label {
    display: block;
    color: $prs-charcoal;
    font-size: 1.4rem;
}

/**
 * Add font size 100% of form element and margin 0 to these elements
 */

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: $font-size-med;
    margin: 0;
}

/**
 * Text area base styles
 */

textarea {
    min-height: 6rem;
    resize: none;
}

/**
 * Input  and text area base styles
 */

input,
textarea {
    width: 100%;
    border: 1px solid $prs-smoke;
    background: $prs-white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    &:focus,
    &.focus {
        border: 4px blur $prs-smoke;
    }
}

.form-control {
    border: 1px solid $prs-smoke;
    height: 40px;
    background: $prs-white;
    color: $prs-black;
    border-radius: 2px;
    font-size: 1.6rem;
    padding-left: .8rem;
    &input[type=text],
    textarea {
        color: black;
        width: 100%;
        padding: 0.8rem;
        height: 40px;
        border: 1px solid $prs-smoke;
        &:focus {
            border-color: $prs-smoke;
            ;
        }
    }
    &:focus,
    &.focus {
        outline: 0;
        border-color: $prs-smoke;
        box-shadow: 0px 0 4px 2px $prs-smoke;
        color: $prs-black;
    }
    &:disabled {
        background-color: $prs-ash;
    }
    &-sm {
        font-size: 1.4rem;
        height: 3.2rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        -o-border-radius: 0.2rem;
    }
    &-has-append__right {
        padding-right: 1.6rem;
    }
}

.form-group {
    margin-bottom: 1.6rem;
    .text-input__has-icon {
        &-left {
            margin-left: -24px;
            padding-left: 28px;
        }
        &-right {
            margin-right: -28px;
            padding-right: 28px;
        }
    }
    .text-input__icon {
        &-left {
            z-index: 2200;
            padding-left: 8px;
        }
    }
}

.input-group-append {
    .input-group-text {
        padding: 0;
    }
    i {
        width: 4rem;
    }
}

.form-feedback__icon {
    font-size: 12px;
    margin-right: 4px;
}

.valid-feedback {
    color: $prs-jungle;
    border-color: $prs-charcoal;
}

.invalid-feedback,
    {
    color: $prs-scarlet;
    border-color: $prs-charcoal;
}

.form-control.is-valid {
    color: $prs-charcoal;
    border-color: $prs-charcoal;
}

.form-control.is-invalid {
    color: $prs-charcoal;
    border-color: $prs-charcoal;
}

.password-toggle__icon {
    cursor: pointer;
}

/**
 * Remove webkit appearance styles from these elements
 */

input[type=text],
input[type=search],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type=url],
input[type=number],
textarea {
    -webkit-appearance: none;
}

/**
 * Checkbox and radio button base styles
 */

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3rem;
    border-color: $color-gray-73;
}

input[type="checkbox"] {
    &:checked {
        color: $prs-primary;
        background-color: $prs-primary;
    }
}

/**
 * Search input base styles
 */

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

/**
 * Select
 * 1) Remove default styling
 */

select {
    display: block;
    font-size: $font-size-med;
    width: 100%;
    border: $border-thickness solid $color-gray-27;
    padding: 0.5rem;
    color: $color-gray-93;
    -webkit-appearance: none;
    background: url("../images/chevron-down.svg");
    background-position: calc(100% - 0.7rem) 50%;
    background-color: $color-white;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    &:focus {
        border-color: $color-gray-93;
    }
}

/**  custom checkboxes **/

label {
    display: inline-block;
    color: $prs-charcoal;
    margin-bottom: 8px;
}

.number-input__group {
    width: 13rem;
    height: 40px;
    input {
        text-align: center;
    }
    button {
        width: 4rem;
    }
}

/* END MUI Overrides */

$blue--muted: #005aab;
$gray--light: #f8f8f8;
$gray--medium: #979797;
$opacity--disabled: 0.4;
.checkbox--custom {
    input[type="checkbox"] {
        padding: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-color: $gray--light;
        cursor: pointer;
        font-size: 0;
        margin-right: 2px;
        border: 1px solid $gray--medium;
        outline: 0;
        border-radius: 2px;
        -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, .18);
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .18);
        box-shadow: inset 0 0 2px rgba(0, 0, 0, .18);
        &:checked,
        &:indeterminate {
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 50%;
            background-color: $blue--muted;
            border: 3px solid $blue--muted;
        }
        &:checked {
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNGRkZGRkY7fTwvc3R5bGU+PGcgaWQ9IkxheWVyXzFfMV8iPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iNDM0LjQsNTkgMTk1LjYsMjk3LjkgNzcuNiwxNzkuOSAwLDI1Ny40IDE5NS42LDQ1MyA1MTIsMTM2LjYgIi8+PC9nPjwvc3ZnPg==');
        }
        &:indeterminate {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+Cjxwb2x5bGluZSBjbGFzcz0ic3QwIiBwb2ludHM9Ijc3LjgsMTg5LjkgNzcuNywyODIuMyA0NDguNCwyODEuNyA0NDguNSwxOTAuOCA3Ny44LDE5MS41ICIvPgo8L3N2Zz4K);
        }
        &:focus {
            box-shadow: 0 0 4px $blue--muted;
        }
        &:not(:checked):not([disabled]):not(:indeterminate):hover {
            border: 2px solid $blue--muted;
        }
        &[disabled],
        &[disabled]+label {
            cursor: not-allowed;
            opacity: $opacity--disabled;
        }
        /* For IE 10 & 11 */
        &::-ms-check {
            display: none;
        }
    }
    label {
        cursor: pointer;
        &[disabled] {
            cursor: not-allowed;
            opacity: $opacity--disabled;
        }
    }
    /* For IE 10 & 11 */
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        input[type="checkbox"] {
            background-color: darken($gray--light, 4%);
            &,
            &[disabled] {
                box-shadow: inset -.5px -.6px 2px rgba(0, 0, 0, .9);
            }
        }
    }
}