$icomoon-font-family: "PRS-Icon-Font" !default;
$icomoon-font-family1: "icomoon1" !default;
$icomoon-font-path: "fonts" !default;
$icomoon-font-path1: "prs-styles/fonts/PRS-icon-font/fonts" !default;
$prs-icon-images: "\e93e";
$prs-icon-files-empty: "\e99f";
$prs-icon-barcode: "\e9f6";
$prs-icon-credit-card: "\ea16";
$prs-icon-location: "\ea38";
$prs-icon-printer: "\ea66";
$prs-icon-mobile: "\ea75";
$prs-icon-chat: "\eac3";
$prs-icon-user: "\eaf4";
$prs-icon-search: "\eb2d";
$prs-icon-medal: "\eb9d";
$prs-icon-bin: "\ebfb";
$prs-icon-shield: "\ec2e";
$prs-icon-shield-check: "\ec2f";
$prs-icon-list: "\ec57";
$prs-icon-three-dots-horizontal: "\ec67";
$prs-icon-menu: "\ec6e";
$prs-icon-star-empty: "\ece0";
$prs-icon-star-half: "\ece1";
$prs-icon-star-full: "\ece2";
$prs-icon-notification-circle: "\ed4f";
$prs-icon-info: "\ed61";
$prs-icon-cross: "\ed6a";
$prs-icon-chevron-up: "\edb5";
$prs-icon-chevron-right: "\edb9";
$prs-icon-chevron-down: "\edbd";
$prs-icon-chevron-left: "\edc1";
$prs-icon-triangle-up: "\edc4";
$prs-icon-triangle-right: "\edc5";
$prs-icon-triangle-down: "\edc6";
$prs-icon-triangle-left: "\edc7";
$prs-icon-checkmark-circle: "\ee73";
$prs-icon-radio-checked-2: "\ee73";
$prs-icon-filter: "\ee88";
$prs-icon-export: "\eec5";
$prs-icon-file-pdf: "\ef36";
$prs-icon-file-excel: "\ef39";
$prs-icon-direction: "\e0fe";
$prs-icon-details: "\e900";
$prs-icon-bell: "\ea58";
$prs-icon-paint-can: "\e926";
$prs-icon-bell-o: "\e927";
$prs-icon-heart-o: "\eceb";
$prs-icon-heart: "\ecec";
$prs-icon-file-spreadsheet: "\e9c5";
$prs-icon-envelop5: "\ea34";
$prs-icon-calendar: "\ea5f";
$prs-icon-zoom-in: "\eb2e";
$prs-icon-zoom-out: "\eb2f";
$prs-icon-meter-slow: "\ebdd";
$prs-icon-car1: "\ec07";
$prs-icon-truck: "\ec0c";
$prs-icon-cloud-upload: "\ec75";
$prs-icon-plus3: "\ed5d";
$prs-icon-blocked: "\ed67";
$prs-icon-sort: "\ee48";
$prs-icon-eye: "\e9ce";
$prs-icon-eye-blocked: "\e9d1";